@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

:root {
  --Black: #150C01;
  --MainColor: #DC780B;
  --LightMainColor: #ff8400;
  --White: #FFFFFF;
}

@media (max-width: 992px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 450px;
  }
}
:root {
  --MainTextStyle: Philosopher;
  --SecondTextStyle: Roboto;
}

.main-title__top-text {
  font-family: var(--SecondTextStyle);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  color: var(--MainColor);
  padding: 10px 0;
}

.main-title {
  font-family: var(--MainTextStyle);
  font-size: 32px;
  font-weight: 700;
  color: var(--Black);
}

.subtitle {
  font-family: var(--SecondTextStyle);
  font-size: 16px;
  font-weight: 400;
  opacity: 70%;
}

.main-btn {
  font-family: var(--SecondTextStyle);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  color: var(--White);
  background-color: var(--MainColor);
  border-radius: 5px;
}

.main-btn:hover {
  background-color: var(--LightMainColor);
}

header {
  position: sticky;
  top: 0;
  background-color: var(--White);
  z-index: 60;
  padding: 12px 0;
}
header .main-header {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main-header .header-left__links {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .main-header .header-left__links .header-logo img {
  width: 44px;
}
header .main-header .header-left__links > a:first-child {
  opacity: 100% !important;
}
header .main-header .header-left__links > a {
  font-family: var(--SecondTextStyle);
  font-size: 16px;
  color: #150C01;
  opacity: 60%;
  transition: all 0.3s ease;
}
header .main-header .header-left__links > a:hover {
  color: var(--MainColor);
  opacity: 100%;
}
header .main-header .header-left__links > a.active {
  color: var(--MainColor);
  opacity: 100%;
  font-weight: 500;
}
header .main-header .bar-menu {
  display: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size-adjust: 24px;
}
header .main-header .bar-menu:hover {
  color: var(--MainColor);
}
header .main-header .sidebar {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 888;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2705882353);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
header .main-header .sidebar > a {
  margin-left: 30px;
}
header .main-header .sidebar > a:first-child {
  font-size: 24px;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
  header .main-header .bar-menu {
    display: inline-block;
  }
}
.home {
  padding: 10px 0;
}
.home .home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .home-content .home-text {
  width: 52%;
}
.home .home-content .home-text .main-title {
  font-size: 48px;
}
.home .home-content .home-text .subtitle {
  padding-top: 35px;
  font-weight: 500;
}
.home .home-content .home-text .home-buttons {
  display: flex;
  gap: 20px;
  padding-top: 35px;
}
.home .home-content .home-text .home-buttons .main-btn {
  background-color: var(--White);
  color: var(--MainColor);
  font-weight: 500;
  border: 1px solid var(--MainColor);
  transition: all 0.3s ease;
}
.home .home-content .home-text .home-buttons .main-btn:hover {
  background-color: var(--MainColor);
  color: var(--White);
  font-weight: 400;
  border: 1px solid var(--MainColor);
}
.home .home-content .home-image {
  width: 48%;
  overflow: hidden;
}
.home .home-content .home-image img {
  width: 110%;
}

@media (max-width: 768px) {
  .home .home-content .home-text {
    width: 52%;
  }
  .home .home-content .home-text .main-title {
    font-size: 36px;
  }
  .home .home-content .home-text .subtitle {
    padding-top: 20px;
    font-weight: 400;
  }
  .home .home-content .home-text .home-buttons {
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .home .home-content .home-text {
    width: 100%;
    padding-top: 50px;
  }
  .home .home-content .home-text .main-title {
    text-align: center;
  }
  .home .home-content .home-text .subtitle {
    text-align: center;
  }
  .home .home-content .home-text .home-buttons {
    width: 49%;
    margin: 0 auto;
  }
  .home .home-content .home-image {
    display: none;
  }
}
@media (max-width: 480px) {
  .home .home-content .home-text {
    width: 100%;
    padding-top: 50px;
  }
  .home .home-content .home-text .main-title {
    text-align: center;
    font-size: 22px;
  }
  .home .home-content .home-text .subtitle {
    text-align: center;
    font-size: 14px;
  }
  .home .home-content .home-text .home-buttons {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .home .home-content .home-text .home-buttons .main-btn {
    font-size: 13px;
  }
  .home .home-content .home-image {
    display: none;
  }
}
@media (max-width: 320px) {
  .home .home-content .home-text .home-buttons {
    display: flex;
    flex-direction: column;
    width: 38%;
  }
  .home .home-content .home-text .home-buttons .main-btn {
    text-align: center;
    font-size: 14px;
    padding: 8px 13px;
  }
  .home .home-content .home-image {
    display: none;
  }
}
.features {
  padding: 60px 0;
}
.features .features-content .main-title__top-text {
  text-align: center;
}
.features .features-content .main-title {
  text-align: center;
}
.features .features-content .features-cards {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
}
.features .features-content .features-cards .features-card {
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features .features-content .features-cards .features-card .card-icon__box {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features .features-content .features-cards .features-card:nth-child(1) > .card-icon__box {
  background-color: rgba(143, 166, 50, 0.1137254902);
}
.features .features-content .features-cards .features-card:nth-child(2) > .card-icon__box {
  background-color: rgba(230, 77, 46, 0.1137254902);
}
.features .features-content .features-cards .features-card:nth-child(3) > .card-icon__box {
  background-color: rgba(220, 119, 11, 0.1019607843);
}
.features .features-content .features-cards .features-card .card-title {
  font-size: 25px;
  text-align: center;
  padding: 20px 0 12px 0;
}
.features .features-content .features-cards .features-card .card-subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

@media (max-width: 768px) {
  .features .features-content .main-title__top-text {
    font-size: 14px;
  }
  .features .features-content .features-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .features .features-content .features-cards .features-card {
    width: 200px;
  }
  .features .features-content .features-cards .features-card .card-title {
    font-size: 22px;
  }
  .features .features-content .features-cards .features-card .card-subtitle {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .features .features-content .features-cards {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .features .features-content .main-title__top-text {
    font-size: 14px;
  }
  .features .features-content .main-title {
    font-size: 22px;
  }
  .features .features-content .features-cards {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    gap: 20px;
  }
}
.about {
  padding: 50px 0;
}
.about .about-content {
  display: flex;
  align-items: center;
}
.about .about-content .about-image {
  width: 45%;
  height: 450px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
.about .about-content .about-image img {
  width: 145%;
}
.about .about-content .about-text {
  width: 55%;
  padding-left: 80px;
}
.about .about-content .about-text .main-title {
  width: 90%;
}
.about .about-content .about-text .subtitle {
  padding: 20px 0 40px 0;
  line-height: 24px;
}

@media (max-width: 768px) {
  .about .about-content .about-image {
    width: 45%;
    height: 300px;
  }
  .about .about-content .about-image img {
    width: 145%;
  }
  .about .about-content .about-text {
    width: 55%;
    padding-left: 80px;
  }
  .about .about-content .about-text .main-title__top-text {
    font-size: 14px;
  }
  .about .about-content .about-text .main-title {
    width: 90%;
    font-size: 20px;
  }
  .about .about-content .about-text .subtitle {
    padding: 20px 0 30px 0;
    line-height: 20px;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .about .about-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .about .about-content .about-image {
    width: 60%;
    height: 300px;
    margin: 0 auto;
  }
  .about .about-content .about-image img {
    width: 145%;
  }
  .about .about-content .about-text {
    width: 70%;
    padding: 0 0 40px 0;
    position: relative;
  }
  .about .about-content .about-text .main-title__top-text {
    text-align: center;
  }
  .about .about-content .about-text .main-title {
    text-align: center;
    margin: 0 auto;
  }
  .about .about-content .about-text .subtitle {
    text-align: center;
  }
  .about .about-content .about-text .read-more-btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 480px) {
  .about .about-content .about-image {
    display: none;
  }
  .about .about-content .about-text .main-title__top-text {
    font-size: 14px;
  }
  .about .about-content .about-text .main-title {
    font-size: 22px;
  }
  .about .about-content .about-text .subtitle {
    font-size: 14px;
  }
  .about .about-content .about-text .read-more-btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
  }
}
@media (max-width: 320px) {
  .about .about-content .about-image {
    display: none;
  }
  .about .about-content .about-text .main-title__top-text {
    font-size: 14px;
  }
  .about .about-content .about-text .main-title {
    font-size: 22px;
  }
  .about .about-content .about-text .subtitle {
    font-size: 14px;
  }
  .about .about-content .about-text .read-more-btn {
    font-size: 14px;
    width: 55%;
    text-align: center;
  }
}
.menu {
  padding: 30px 0;
}
.menu .menu-content .main-title__top-text {
  text-align: center;
}
.menu .menu-content .menu-section__title {
  text-align: center;
}
.menu .menu-content .menu-section__subtitle {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
.menu .menu-content .menu-items {
  display: grid;
  padding: 30px 0;
  grid-template-columns: repeat(3, 340px);
  justify-content: space-between;
  gap: 25px;
}
.menu .menu-content .menu-items .menu-item {
  border-radius: 60px 12px 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.menu .menu-content .menu-items .menu-item .item-image {
  width: 100%;
  height: 220px;
  background-color: lightgreen;
  border-radius: 60px 12px 60px 0;
  overflow: hidden;
}
.menu .menu-content .menu-items .menu-item .item-image img {
  width: 100%;
}
.menu .menu-content .menu-items .menu-item .food-price {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 18px 18px 10px 18px;
}
.menu .menu-content .menu-items .menu-item .food-price .food-name {
  font-size: 25px;
}
.menu .menu-content .menu-items .menu-item .food-price .price {
  font-size: 25px;
}
.menu .menu-content .menu-items .menu-item .food-description {
  padding: 0 18px;
  line-height: 25px;
}
.menu .menu-content .menu-items .menu-item .item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
}
.menu .menu-content .menu-items .menu-item .item-bottom .add-to {
  width: 35px;
  height: 35px;
  background-color: var(--MainColor);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu .menu-content .menu-items .menu-item .item-bottom .add-to .fa-plus {
  color: var(--White);
}
.menu .menu-content .menu-items .menu-item .item-bottom .star-score {
  color: var(--Black);
}
.menu .menu-content .menu-items .menu-item .item-bottom .star-score .fa-star:nth-child(1),
.menu .menu-content .menu-items .menu-item .item-bottom .star-score .fa-star:nth-child(2),
.menu .menu-content .menu-items .menu-item .item-bottom .star-score .fa-star:nth-child(3) {
  color: var(--MainColor);
}
.menu .menu-content .menu-items .menu-item .item-bottom .star-score .fa-star:nth-child(4),
.menu .menu-content .menu-items .menu-item .item-bottom .star-score .fa-star:nth-child(5) {
  opacity: 20%;
}
.menu .menu-content .learn-more {
  padding: 70px 0;
}

@media (max-width: 992px) {
  .menu .menu-content .menu-items {
    grid-template-columns: repeat(3, 300px);
  }
}
@media (max-width: 768px) {
  .menu {
    padding: 30px 0;
  }
  .menu .menu-content .menu-items {
    grid-template-columns: repeat(2, 340px);
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .menu {
    padding: 30px 0;
  }
  .menu .menu-content .menu-items {
    grid-template-columns: repeat(1, 340px);
    justify-content: center;
    gap: 40px;
  }
  .menu .menu-content .learn-more {
    padding: 35px 0;
  }
}
@media (max-width: 480px) {
  .menu .menu-content .main-title__top-text {
    font-size: 14px;
  }
  .menu .menu-content .menu-section__title {
    font-size: 22px;
  }
  .menu .menu-content .menu-section__subtitle {
    font-size: 14px;
  }
  .menu .menu-content .menu-items {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
  }
  .menu .menu-content .menu-items .menu-item .item-image {
    width: 100%;
    height: 180px;
  }
  .menu .menu-content .menu-items .menu-item .food-price {
    padding: 14px 14px 8px 14px;
  }
  .menu .menu-content .menu-items .menu-item .food-price .food-name {
    font-size: 20px;
  }
  .menu .menu-content .menu-items .menu-item .food-price .price {
    font-size: 20px;
  }
  .menu .menu-content .menu-items .menu-item .food-description {
    padding: 0 14px;
    line-height: 23px;
    font-size: 14px;
  }
  .menu .menu-content .menu-items .menu-item .item-bottom {
    padding: 15px 14px;
  }
  .menu .menu-content .menu-items .menu-item .item-bottom .add-to {
    width: 30px;
    height: 30px;
  }
  .menu .menu-content .learn-more {
    padding: 20px 0;
  }
}
.advertisement {
  padding: 30px 0;
}
.advertisement .advertisement-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advertisement .advertisement-content .adv-text {
  width: 65%;
}
.advertisement .advertisement-content .adv-text .adv-title {
  width: 70%;
  padding-bottom: 15px;
  line-height: 40px;
}
.advertisement .advertisement-content .adv-text .adv-subtitle {
  width: 85%;
  padding: 10px 0;
  line-height: 26px;
}
.advertisement .advertisement-content .adv-text .adv-buttons {
  padding: 20px 0;
  display: flex;
  gap: 30px;
}
.advertisement .advertisement-content .adv-text .adv-buttons .main-btn {
  background-color: transparent;
  outline: 2px solid rgba(0, 0, 0, 0.363);
  outline-offset: -2px;
  color: black;
  transition: all 0.3s ease;
}
.advertisement .advertisement-content .adv-text .adv-buttons .main-btn:hover {
  background-color: black;
  color: var(--White);
}
.advertisement .advertisement-content .adv-image {
  width: 45%;
  height: 400px;
  position: relative;
}
.advertisement .advertisement-content .adv-image img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 25px var(--MainColor);
  border-radius: 25px;
}

@media (max-width: 600px) {
  .advertisement {
    padding: 30px 0;
  }
  .advertisement .advertisement-content .adv-text {
    width: 100%;
    position: relative;
  }
  .advertisement .advertisement-content .adv-text .main-title__top-text {
    text-align: center;
  }
  .advertisement .advertisement-content .adv-text .adv-title {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .advertisement .advertisement-content .adv-text .adv-subtitle {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  .advertisement .advertisement-content .adv-text .adv-buttons {
    width: 55%;
    display: flex;
    justify-content: space-between;
    gap: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .advertisement .advertisement-content .adv-image {
    display: none;
  }
}
@media (max-width: 480px) {
  .advertisement .advertisement-content .adv-text .main-title__top-text {
    font-size: 14px;
  }
  .advertisement .advertisement-content .adv-text .adv-title {
    font-size: 22px;
    line-height: 30px;
  }
  .advertisement .advertisement-content .adv-text .adv-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .advertisement .advertisement-content .adv-text .adv-buttons {
    width: 70%;
  }
  .advertisement .advertisement-content .adv-text .main-btn {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .advertisement .advertisement-content .adv-text .main-title__top-text {
    font-size: 14px;
  }
  .advertisement .advertisement-content .adv-text .adv-title {
    font-size: 22px;
    line-height: 30px;
  }
  .advertisement .advertisement-content .adv-text .adv-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .advertisement .advertisement-content .adv-text .adv-buttons {
    display: flex;
    flex-direction: column;
    width: 47%;
    gap: 15px;
  }
  .advertisement .advertisement-content .adv-text .main-btn {
    font-size: 14px;
  }
}
.testimonials {
  padding: 100px 0;
}
.testimonials .testimonials-content .main-title__top-text {
  text-align: center;
}
.testimonials .testimonials-content .testimonials-title {
  text-align: center;
}
.testimonials .testimonials-content .testimonials-subtitle {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.testimonials .testimonials-content .testimonials-image {
  width: 95px;
  height: 95px;
  background: lightblue;
  border-radius: 50%;
  margin: 40px auto;
  overflow: hidden;
}
.testimonials .testimonials-content .testimonials-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .testimonials-content .customer-opinion {
  width: 55%;
  text-align: center;
  margin: 0 auto;
}
.testimonials .testimonials-content .star-score {
  width: 15%;
  margin: 15px auto;
  text-align: center;
}
.testimonials .testimonials-content .star-score .fa-star:nth-child(1),
.testimonials .testimonials-content .star-score .fa-star:nth-child(2),
.testimonials .testimonials-content .star-score .fa-star:nth-child(3),
.testimonials .testimonials-content .star-score .fa-star:nth-child(4) {
  color: var(--MainColor);
}
.testimonials .testimonials-content .star-score .fa-star:nth-child(5) {
  opacity: 20%;
}
.testimonials .testimonials-content .customer-name {
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.testimonials .testimonials-content .customer-profession {
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 480px) {
  .testimonials .testimonials-content .main-title__top-text {
    font-size: 14px;
  }
  .testimonials .testimonials-content .testimonials-title {
    font-size: 22px;
  }
  .testimonials .testimonials-content .testimonials-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .testimonials .testimonials-content .testimonials-image {
    width: 85px;
    height: 85px;
  }
  .testimonials .testimonials-content .customer-opinion {
    width: 90%;
    font-size: 14px;
  }
  .testimonials .testimonials-content .star-score {
    width: 35%;
  }
  .testimonials .testimonials-content .customer-name {
    font-size: 18px;
  }
  .testimonials .testimonials-content .customer-profession {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .testimonials .testimonials-content .star-score {
    width: 40%;
  }
}
.contact {
  background-color: rgba(255, 215, 172, 0.3137254902);
  padding: 80px 0;
}
.contact .contact-content .main-title__top-text {
  text-align: center;
}
.contact .contact-content .contact-title {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.contact .contact-content .input-box {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-content .input-box input {
  width: 470px;
  height: 38px;
  padding: 0 25px;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;
  font-family: var(--SecondTextStyle);
  font-size: 16px;
}

@media (max-width: 600px) {
  .contact .contact-content .input-box input {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .contact .contact-content .main-title__top-text {
    font-size: 14px;
  }
  .contact .contact-content .contact-title {
    font-size: 22px;
  }
  .contact .contact-content .input-box {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .contact-content .input-box input {
    width: 250px;
    font-size: 14px;
  }
}
footer {
  padding: 100px 0;
  background-color: #252525;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
}
footer .footer-content .left-info .footer-logo {
  width: 60px;
  padding-bottom: 10px;
}
footer .footer-content .left-info .footer-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-content .left-info p > a {
  display: inline-block;
  padding: 7px 0;
  color: var(--White);
  opacity: 70%;
  font-family: var(--SecondTextStyle);
  transition: all 0.3s ease;
}
footer .footer-content .left-info p > a:hover {
  opacity: 100%;
}
footer .footer-content table {
  width: 65%;
  color: var(--White);
}
footer .footer-content table tr th {
  text-align: start;
  font-family: var(--MainTextStyle);
  font-size: 18px;
  padding: 14px 0;
  cursor: pointer;
}
footer .footer-content table tr td {
  font-family: var(--SecondTextStyle);
  font-size: 16px;
  padding: 8px 0;
  cursor: pointer;
  opacity: 50%;
  transition: all 0.3s ease;
}
footer .footer-content table tr td:hover {
  opacity: 100%;
}
footer .footer-content table tr .footer-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  opacity: 100%;
}
footer .footer-content table tr .footer-icons .footer-icon {
  scale: 1.1;
  transition: all 0.3s ease;
}
footer .footer-content table tr .footer-icons .footer-icon:hover {
  scale: 1.3;
}

@media (max-width: 600px) {
  footer {
    padding: 100px 0;
    background-color: #252525;
  }
  footer .footer-content {
    display: flex;
    justify-content: space-between;
  }
  footer .footer-content table tr th:first-child {
    display: none;
  }
  footer .footer-content table tr td:first-child {
    display: none;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 100px 0;
    background-color: #252525;
  }
  footer .footer-content {
    gap: 70px;
  }
  footer .footer-content table tr th:nth-child(1),
  footer .footer-content table tr th:nth-child(2) {
    display: none;
  }
  footer .footer-content table tr td:nth-child(1),
  footer .footer-content table tr td:nth-child(2) {
    display: none;
  }
}
@media (max-width: 320px) {
  footer {
    padding: 100px 0;
    background-color: #252525;
  }
  footer .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  footer .footer-content table tr th:nth-child(1),
  footer .footer-content table tr th:nth-child(2) {
    display: none;
  }
  footer .footer-content table tr td:nth-child(1),
  footer .footer-content table tr td:nth-child(2) {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */