.advertisement {
    padding: 30px 0;
    .advertisement-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .adv-text {
            width: 65%;
            .adv-title {
                width: 70%;
                padding-bottom: 15px;
                line-height: 40px;
            }
            .adv-subtitle {
                width: 85%;
                padding: 10px 0;
                line-height: 26px;
            }
            .adv-buttons {
                padding: 20px 0;
                display: flex;
                gap: 30px;
                .main-btn {
                    background-color: transparent;
                    outline: 2px solid rgba(0, 0, 0, 0.363);
                    outline-offset: -2px;
                    color: black;
                    transition: all .3s ease;
                }
                .main-btn:hover {
                    background-color: black;
                    color: var(--White);
                }

            }
        }
        .adv-image {
            width: 45%;
            height: 400px;
            position: relative;
            img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0 0 25px var(--MainColor);
                border-radius: 25px;
            }
        }
    }
}


// Sayt kengligi 600px gacha bo'lgan devayslarda
@media (max-width:600px) {
    .advertisement {
        padding: 30px 0;
        .advertisement-content {
            .adv-text {
                width: 100%;
                position: relative;
                .main-title__top-text {
                    text-align: center;
                }
                .adv-title {
                    width: 70%;
                    margin: 0 auto;
                    text-align: center;
                }
                .adv-subtitle {
                    width: 85%;
                    margin: 0 auto;
                    text-align: center;
                }
                .adv-buttons {
                    width: 55%;
                    display: flex;
                    justify-content: space-between;
                    gap: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .adv-image {
                display: none;
            }
        }
    }   
}


// Sayt kengligi 480px gacha bo'lgan devayslarda
@media (max-width:480px) {
    .advertisement {
        .advertisement-content {
            .adv-text {
                .main-title__top-text {
                    font-size: 14px;
                }
                .adv-title {
                    font-size: 22px;
                    line-height: 30px;
                }
                .adv-subtitle {
                    font-size: 14px;
                    line-height: 20px;
                }
                .adv-buttons {
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    text-align: center;
                    gap: 15px;
                }
                .main-btn {
                    font-size: 14px;
                }
            }
        }
    } 
}

// Sayt kengligi 320px gacha bo'lgan devayslarda
@media (max-width:320px) {
    .advertisement {
        .advertisement-content {
            .adv-text {
                .main-title__top-text {
                    font-size: 14px;
                }
                .adv-title {
                    font-size: 22px;
                    line-height: 30px;
                }
                .adv-subtitle {
                    font-size: 14px;
                    line-height: 20px;
                }
                .adv-buttons {
                    display: flex;
                    flex-direction: column;
                    width: 47%;
                    gap: 15px;
                }
                .main-btn {
                    font-size: 14px;
                }
            }
        }
    } 
}