.home {
    padding: 10px 0;
    .home-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .home-text {
            width: 52%;
            .main-title {
                font-size: 48px;
            }
            .subtitle {
                padding-top: 35px;
                font-weight: 500;
            }
            .home-buttons {
                display: flex;
                gap: 20px;
                padding-top: 35px;
                .main-btn {
                    background-color: var(--White);
                    color: var(--MainColor);
                    font-weight: 500;
                    border: 1px solid var(--MainColor);
                    transition: all .3s ease;
                }
                .main-btn:hover {
                    background-color: var(--MainColor);
                    color: var(--White  );
                    font-weight: 400;
                    border: 1px solid var(--MainColor);
                }
            }
        }
        .home-image {
            width: 48%;
            overflow: hidden;
            img {
                width: 110%;
            }
        }
    }
}

// Sayt kengligi 768px gacha bo'lgan ekranlarda
@media (max-width:768px) {
    .home {
        .home-content {
            .home-text {
                width: 52%;
                .main-title {
                    font-size: 36px;
                }
                .subtitle {
                    padding-top: 20px;
                    font-weight: 400;
                }
                .home-buttons {
                    padding-top: 20px;
                }
            }
        }
    }
}


// Sayt kengligi 600px gacha bo'lgan devayslarda
@media (max-width:600px) {
    .home {
        .home-content {
            .home-text {
                width: 100%;
                padding-top: 50px;
                .main-title {
                    text-align: center;
                }
                .subtitle {
                    text-align: center;
                }
                .home-buttons {
                    width: 49%;
                    margin: 0 auto;
                }
            }
            .home-image {
                display: none;
            }
        }
    }
}

// Sayt kengligi 480px gacha bo'lgan devayslarda
@media (max-width:480px) {
    .home {
        .home-content {
            .home-text {
                width: 100%;
                padding-top: 50px;
                .main-title {
                    text-align: center;
                    font-size: 22px;
                }
                .subtitle {
                    text-align: center;
                    font-size: 14px;
                }
                .home-buttons {
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 30%;
                    .main-btn {
                        font-size: .8em;
                        text-align: center;
                        padding: .5em .7em;
                    }
                }
            }
            .home-image {
                display: none;
            }
        }
    }
}

// Sayt kengligi 320px gacha bo'lgan devayslarda
@media (max-width:320px) {
    .home {
        .home-content {
            .home-text {
                .home-buttons {
                    display: flex;
                    flex-direction: column;
                    width: 38%;
                    .main-btn {
                        text-align: center;
                        font-size: 14px;
                        padding: 8px 13px;
                    }
                }
            }
            .home-image {
                display: none;
            }
        }
    }
}